@model WebUI.Models.CustomerVM
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Edit The Customer </h1>

    <div>
        <label>@Model.Fname</label>
        <label>@Model.Lname</label>
        <label>@Model.Address</label>
        <label>@Model.City</label>
        <label>@Model.State</label>
        <label>@Model.Email</label>
        <label>@Model.Phone</label>
    </div>
</body>
</html>