@model IEnumerable<TheStoreInventoryVM>
@*@{ 
    List<TheStoreInventoryVM> availableProductId = new List<TheStoreInventoryVM>();
    int maxQuantity = 0;
    double productPrice = 0.00;
}*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Store @ViewBag.Name's Inventory</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                @*<th>Product Id</th>*@
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Available Quantity</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>@Html.DisplayFor(modelItem => item.ProductId)</td>*@
                    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                    <td>$@Html.DisplayFor(modelItem => item.ProductPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td>
                        @Html.ActionLink("Purchase", "CreateQuantity", item, new { @style = "color:white", @class = "btn btn-secondary" })
                    </td>
                </tr>

            }
        </tbody>
    </table>


    <a asp-controller="CustomerPortal" asp-action="FindAStore" class="btn btn-danger" style="position:relative; top:10px;">Empty Cart & Select Another Store</a>

    <a asp-controller="CustomerPortal" asp-action="ViewCart" class="btn btn-primary" style="position:relative; top:10px;">ViewCart</a>
</body>
</html>