@model IEnumerable<OrderVM>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 style="text-align:center;">Order History</h1>

    @{ if (Model.Count() > 0)
        {
            <table class="table table-striped">
                <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Store Front Id</th>
                            <th>@Html.ActionLink("Total Price", "ViewOrderHistory", new { sortOrder = ViewBag.PriceSortParm })</th>
                            <th>@Html.ActionLink("Date of Purchase", "ViewOrderHistory", new { sortOrder = ViewBag.DateSortParm })</th>
                        </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.StoreFrontId</td>
                        <td>@item.TotalPrice.ToString("C")</td>
                        <td>@item.Date</td>
                        <td>
                            @Html.ActionLink("Detail", "ViewOrderDetail", new { p_orderId = item.Id }, new { @style = "color:white", @class = "btn btn-secondary" })
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <h2>Customer Has No Order History</h2>
        }
    }
    <a asp-controller="CustomerPortal" asp-action="SignInOption" class="btn btn-danger" style="position:relative; top:10px; width:77px;">Back</a>
</body>
</html>